
p.mb-3{
  color:#7A3BFF;
}

p.mb-5{
  color:white;
}

h4{
  color: white;
}

h5{
  color: white;
}

/* markus-spiske-70Rir5vB96U-unsplash (1) 1 */
.hero {
  height: 320px;
  .description1{
    width: 80%;

  }
}
