.dashboard-sidebar {
  background-color: #A8A6FF;
  color: #282828;
  position: fixed;
}

div.dashboard-content {
  margin-left: 255px;
  padding: 1px 16px;
  height: 1000px;
}
div.my-programs-table{
  height: 500px;
  overflow: scroll;
}
