// Specific CSS for your home-page
body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("https://res.cloudinary.com/younsai/image/upload/v1662480879/hero-img_bm2tt7.png");
  /* Set a specific height */
  height: 541px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
