
<h1 class="title">Programs</h1>

<div class="card-wrapper">
  <% @programs.each do |program| %>
    <%= link_to program_path(program), class: "text-decoration-none" do %>
      <div class="program-card">
        <div>
          <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p03t1sm8.jpg" alt="">
        </div>
        <div class="program-details text-dark">
          <h3><%= program.title %></h3>
          <p><%= program.terms %> </p>
          <div class="program-bounty">
            <strong><%=program.bounty_range %> MAD</strong>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>
