<div class="d-flex container justify-content-between align-items-center flex-wrap border border-white rounded-4 pe-0 overflow-hidden formdiv-background mb-5">
  <div class="container w-50 py-4">
    <h1>New program</h1>

    <%= render "form", program: @program %>

    <br>

    <div>
      <%= link_to "Back to programs", programs_path %>
    </div>
  </div>


  <div class="w-50 newprogramdiv-background">

  </div>
</div>
