<footer class="d-flex bg-dark justify-content-around p-5 align-self-center">
  <div>
    <h5 class="purple-font">Barbary_Corsairs © 2022</h5>
  </div>
  <div>
    <h5 class="purple-font">Barbary_Corsairs</h1>
    <ul>
      <li class="list-style">About</li>
      <li>The Process</li>
      <li>Cybersecurity News</li>
      <li>Contact</li>
    </ul>
  </div>
  <div>
    <h5 class="purple-font">Services</h5>
      <ul>
        <li>Bug Bounty Platform</li>
        <li>Cybersecurity Expertise</li>
        <li>Hurra Project</li>
      </ul>
  </div>
  <div>
    <h5 class="purple-font">Get in touch</h5>
    <ul>
      <li>Email: tst@barbarycorsairs.com</li>
      <li>Phone: +212 666-666666</li>
    </ul>
  </div>
  <div>
    <h5 class="purple-font">Follow us</h5>
    <ul>
      <li>Facebook</li>
      <li>Instagram</li>
    </ul>
  </div>
</footer>
