<% @my_reports = Report.where('expert_id = ?', current_user.expert) %>
<div class="container">
  <h2 class="display-6">Overview</h2>

  <div class="company-status card-group text-center">
    <div class="card" style="width: 18rem; height:8rem;">
      <div class="card-body  py-auto d-flex align-items-center justify-content-center">
        <span>
          <h5 class="card-title text-dark">Reports</h5>
          <p class="card-text text-dark"><%= @my_reports.count %></p>
        </span>
      </div>
    </div>
    <div class="card" style="width: 18rem; height:8rem;">
      <div class="card-body  py-auto d-flex align-items-center justify-content-center">
        <span>
          <h5 class="card-title text-dark">Reports</h5>
          <p class="card-text text-dark">13</p>
        </span>
      </div>
    </div>
    <div class="card" style="width: 18rem; height:8rem;">
      <div class="card-body  py-auto d-flex align-items-center justify-content-center">
        <span>
          <h5 class="card-title text-dark">Vulnerabilities Founded</h5>
          <p class="card-text text-dark">60</p>
        </span>
      </div>
    </div>
    <div class="card" style="width: 18rem; height:8rem;">
      <div class="card-body  py-auto d-flex align-items-center justify-content-center">
        <span>
          <h5 class="card-title text-dark">Rewarded</h5>
          <p class="card-text text-dark">60</p>
        </span>
      </div>
    </div>

  </div>
  <div class="bg-white my-4 p-4 rounded-3 my-programs-table">
    <h5 class="ps-3 text-dark">My Reports</h5>
    <table class="table table-light">
      <thead>
        <tr>
          <th>Program</th>
          <th>Company</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @my_reports.each do |report|%>
          <tr>
            <td><%= link_to report.program.title, program_report_path(report.program, report) %></td>
            <td><%= report.program.company.company_name %></td>
            <td><%= report.paid %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
