<div class="banner" style="background-image:url(https://media.istockphoto.com/vectors/blue-cyber-background-of-binary-code-digits-vector-id1178183695?k=20&m=1178183695&s=612x612&w=0&h=nOBPdbIn10wlZwN2xn85sFVjJV2MNfSmcr3n5ATV8IU=)">
  <div class="container">
    <h1 strong="">About</h1>
    <h4 class="mb-5">Barbary Corsairs Is a company dedicated to securing the IT infastructure in Morocco. It is no secret that many Moroccan corporations suffer from cybersecurity issues and attacks. Barbary Corsairs is dedicated to solving this problem, by creating a bug bounty program website, which caters specifically to the Moroccan market. </h4>
  </div>
</div>


  <div class="mb-4">
    <div >
      <div class="container p-3">
        <div class="row">
          <div class="col-md-8">
            <h1>Penetration Testing Process </h1>
            <h5>The pirates will attempt to hack the IT infrastructure of companies  in order to discover its insecurities and weaknesses. Then, they point them out to the company. This enables companies to address your weaknesses and prevent getting hacked by an intruder. </h5>
            <h5>First, a pirate (Cybersecurity Expert) will select a program. Then attempt to hack into the infastructure of a company, in order to bring to light the weaknesses contained. This ensures that, the weaknesses can be addressed, and rectified. Which, in turn, leads to a stronger and more secure infastructure. </>
            <h5>In exchange for their services, the experts are paid accordingly. The amount depends on the severity and the amount of threats found. </h5>
            <h5>In effect, it is a win-win situation for both the company and the cybersecurity expert.</h5>
          </div>

          </div>
        </div>
      </div>
    </div>
