<div class="hero-image">
  <div>
    <p>The corsairs are here to protect your data.</p>
    <button>SECURE  YOU COMPANY</button>
    <p>Barabary Corsairs is a bug bounty program platform
    where companies can challenge the best cyberpirates to
    penetrate their IT infrastructures.</p>
  </div>
</div>
