<div id="<%= dom_id scope %>">
  <p>
    <strong>Link:</strong>
    <%= scope.link %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= scope.scope_type %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= scope.program_id %>
  </p>

</div>
