html{
  font-size: 16px;
}

/* Navbar */

nav {
  // position: absolute;
  // width: 100vw;
  // height: 52px;
  // top: 3px;
  background: #101010;
}

.container-fluid {
  width: 87.986vw;
}

.navbar-brand {
  // position: absolute;
  // left: 6.11%;
  // right: 79.65%;
  // top: 0.47%;
  // bottom: 98.52%;

  font-family: 'Poppins';
  // font-style: normal;
  // font-weight: 700;
  font-size: 22px;
  font-weight: 700;
  // line-height: 108.96%;
  /* identical to box height, or 24px */


  color: #7A3BFF;
}

.nav-link {
  font-family: 'Mada';
  font-size: 18px;
}

.navbar-nav .nav-link.active {
  color: #A8A6FF
  ;
}
