<div class="rd-wrapper container">
  <div class="rd-title">
    <span><h4><strong><%= @report.program.company.company_name %><strong></h4></span>
      <div>
        <h3><%= @report.program.title %></h3>
      </div>
  </div>

  <div class="rd-description">
    <span><h4 style="font-weight: bolder">Report Details</h4></span>
     <p style="font-weight: 200;"><%= @report.details %></p>
  </div>

</div>
