.company-name {
  /* Bold 19 (0.4 px) */

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.4px;

  color: #FFFFFF;

}

